<div
    style="width: 100%; height: 95vh; background: url(https://www.sciencenews.org/wp-content/uploads/2019/09/091119_mt_antisolar_feat-1028x579.jpg); background-repeat: no-repeat; background-size: cover;">
    <main class="index pt-5">
        <header class="masthead d-flex">
            <div class="card bg-dark mx-auto p-5" style="opacity: 0.8;">
                <div class="container text-center text-white">
                    <h1 class="mb-1">Favirite link</h1>
                    <h3 class="mb-5">
                        <em>Store your favorite liks</em>
                    </h3>
                    <a href="/signin" class="btn btn-primary">
                        Let's get started
                    </a>
                </div>
            </div>
        </header>
    </main>
</div>